<h1>Add a New Answer</h1>


<%= form_for :answer, url: answers_path do |form| %>
<p>
	<%= form.label :title %><br>
	<%= form.text_field :title %>
</p>

<p>
	<%= form.label :content %><br>
	<%= form.text_area :content %>
</p>

<p>

	<%= form.submit%>
</p>

<% end %>