<h1>Add a New Answer</h1>


<%= form_for :answer, url: answers_path, html: {class: "answer_form"} do |form| %>
<p>
	<%= form.label :title %><br>
	<%= form.text_field :title %>
</p>

<p>
	<%= form.label :content %><br>
	<%= form.text_area :content %>
</p>

<p>

	<%= form.submit%>
</p>

<% end %>


<div id="answer_table">
<table>
  <tr>
    <th>Upvote</th>
    <th>Downvote</th>
    <th>Total Votes</th>
    <th>Title</th>
    <th>Content</th>
  </tr>

  <script id = "answer_generator" type="text/x-handlebars-template">
    <tr>
      <td><button class="upvote_button" data-url="/questions/{{answer.question_id}}/answers/{{answer.id}}/upvote">Upvote</button></td>
      <td><button class="downvote_button" data-url="/questions/{{answer.question_id}}/answers/{{answer.id}}/downvote">Downvote</button></td>
      <td> <span class="total_answer_votes" data-id="{{answer.id}}">{{answer.vote_count}}</span></td>
      <td>{{answer.title}}</td>
      <td>{{answer.content}}</td>
  </script>
</table>
</div>

<script type="text/javascript">
// $('.button_to').on('click', '.upvote_Button', console.log("me"))

</script>