<h1>Add a New Answer</h1>


<%= form_for :answer, url: answers_path do |form| %>
<p>
	<%= form.label :title %><br>
	<%= form.text_field :title %>
</p>

<p>
	<%= form.label :content %><br>
	<%= form.text_area :content %>
</p>

<p>

	<%= form.submit%>
</p>

<% end %>


<div id="answer_table">
<table>
  <tr>
    <th>Upvote</th>
    <th>Downvote</th>
    <th>Total Votes</th>
    <th>Title</th>
    <th>Content</th>
    <th>View</th>
    <th>Edit</th>
  </tr>

  <script id = "answer_generator" type="text/x-handlebars-template">
    <tr>
      <td><form class="button_to" method="post" action="/questions/{{QUESTION.id}}/answers/{{ANSWER.ID}}/upvote"><input type="hidden" name="_method" value="put"><input type="submit" value="Upvote"></form></td>
      <td><form class="button_to" method="post" action="/questions/13/answers/13/downvote"><input type="hidden" name="_method" value="put"><input type="submit" value="Downvote"></form></td>
      <td><{{ANSWER.vote_count}}</td>
      <td>{{ANSWER.title}}</td>
      <td>{{ANSWER.content}}</td>
      <td><a href="/questions/{{ANSWER.id}">Show</a></td>
      <td><a href="/questions/{{ANSWER.ID}}">Edit</a></td>
      <td><a rel="nofollow" data-method="delete" href="/questions/{{ANSWER.id}}">Destroy</a></td>
      </tr>
  </script>
</table>
</div>