<h1>Add a New Answer</h1>


<%= form_for :answer, url: answers_path, html: {class: "answer_form"} do |form| %>
<p>
	<%= form.label :title %><br>
	<%= form.text_field :title %>
</p>

<p>
	<%= form.label :content %><br>
	<%= form.text_area :content %>
</p>

<p>

	<%= form.submit%>
</p>

<% end %>


<div id="answer_table">
<table>
  <tr>
    <th>Upvote</th>
    <th>Downvote</th>
    <th>Total Votes</th>
    <th>Title</th>
    <th>Content</th>
  </tr>

  <script id = "answer_generator" type="text/x-handlebars-template">
    <tr>
      <td><form class="button_to" method="post" action="/questions/{{answer.question_id}}/answers/{{answer.id}}/upvote"><input type="hidden" name="_method" value="put"><input type="submit" value="Upvote"></form></td>
      <td><form class="button_to" method="post" action="/questions/{{answer.question_id}}/answers/{{answer.id}}/downvote"><input type="hidden" name="_method" value="put"><input type="submit" value="Downvote"></form></td>
      <td>{{answer.vote_count}}</td>
      <td>{{answer.title}}</td>
      <td>{{answer.content}}</td>
      <td><a rel="nofollow" data-method="delete" href="/questions/{{answer.id}}">Destroy</a></td>
      </tr>
  </script>
</table>
</div>