<h1>Listing All Questions</h1>
<h3>Zen Quote of the Minute: <em><%= @quote%></em></h3>
<h1>New Question</h1>




<%= form_for :question do |question| %>
<p>
	<%= question.label :title %><br>
	<%= question.text_field :title %>
</p>

<p>
	<%= question.label :content %><br>
	<%= question.text_area :content %>
</p>

<p>

	<%= question.submit%>
</p>



<% end %>

<div id="question_values">
<table class="question_table">
  <tr>
    <th>Upvote</th>
    <th>Downvote</th>
    <th>Total Votes</th>
    <th>Title</th>
    <th>Text</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

</table>
</div>

