<h1>Listing All Questions</h1>
<h3>Zen Quote of the Minute: <em><%= @quote%></em></h3>
<h1>New Question</h1>




<%= form_for :question do |question| %>
<p>
	<%= question.label :title %><br>
	<%= question.text_field :title %>
</p>

<p>
	<%= question.label :content %><br>
	<%= question.text_area :content %>
</p>

<p>

	<%= question.submit%>
</p>



<% end %>

<div id="question_values">
<table class="question_table">
  <tr>
    <th>Upvote</th>
    <th>Downvote</th>
    <th>Total Votes</th>
    <th>Title</th>
    <th>Content</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<script id="table_generator" type="text/x-handlebars-template">
<tr>
<td><form class="button_to" method="post" action="/questions/" + {{response.id}} + "/upvote"><input type="hidden" name="_method" value="put"><input type="submit" value="Upvote!"></form></td>
<td><form class="button_to" method="post" action="/questions/" + {{response.id}} + "/downvote"><input type="hidden" name="_method" value="put"><input type="submit" value="Downvote!"></form></td>
<td>{{response.vote_count}}</td>
<td>{{response.title}}</td>
<td>{{response.content}}</td>
<td><a href="/questions/{{response.id}}">Show</a></td>
<td><a href="/questions/{{response.id}}/edit">Edit</a></td>
<td><a rel="nofollow" data-method="delete" href="/questions/" + {{response.id}}>Destroy</a></td>
</tr>
</script>
</table>
</div>
<script type="text/javascript">  displayAllQuestions();
</script>
