<h1>Listing All Questions</h1>
<h1>New Question</h1>

<%= form_for :question do |question| %>
<p>
	<%= question.label :title %><br>
	<%= question.text_field :title %>
</p>

<p>
	<%= question.label :content %><br>
	<%= question.text_area :content %>
</p>

<p>

	<%= question.submit%>
</p>

<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>View</th>
    <th>Edit</th>
  </tr>
  <% @questions.each do |question| %>
  <tr>
    <td><%= question.title%></td>
    <td><%= question.content%></td>
    <td><%= link_to 'Show', question_path(question)%></td>
    <td><%= link_to 'Edit', edit_question_path(question)%></td>
  </tr>
<% end %>
</table>
