<h1>New Question</h1>

<%= form_for :question do |question| %>
<p>
	<%= question.label :title %><br>
	<%= question.text_field :title %>
</p>

<p>
	<%= question.label :content %><br>
	<%= question.text_area :content %>
</p>

<p>

	<%= question.submit%>
</p>

<% end %>