<h1>
	<strong>Title:</strong>
	<%= @question.title%>
</h1>

<h1>
	<strong>Content:</strong>
	<%= @question.content%>
</h1>
<%= render "answers/new"%>

<%= link_to 'Delete Question', question_path(@question), method: :delete, data: { confirm: 'Are you sure?'}  %>
<%= link_to 'Back', questions_path %> |
<%= link_to 'Edit', edit_question_path(@question) %>